@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #fafafa;
}

.navbar {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.position-nav {
    width: 100%;
    position: absolute;
    z-index: 2;
}

.position-header {
    background-image: url('../media/header_backgound.png');
    height: 90vh;
    position: relative;
        z-index: 1;
}

.header-title {
    margin-top: 80px;
    font-size: 72px;
    line-height: 78px;
    font-weight: 800;
    letter-spacing: -1px;
}

@media (max-width: 770px) {
    .header-title {
        font-size: 48px;
        line-height: 54px;
        font-weight: 800;
        letter-spacing: -1px;
    }
}
@media (max-width: 460px) {
    .header-title {
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 0px;
    }
}

.header-title-yellow {
    margin-top: 20px;
    color: #fff;
    font-size: 72px;
    line-height: 78px;
    font-weight: 800;
}

@media (max-width: 770px) {
    .header-title-yellow {
        font-size: 48px;
        line-height: 54px;
        font-weight: 800;
        letter-spacing: -1px;
    }
}
@media (max-width: 460px) {
    .header-title-yellow {
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 0px;
    }
}

.header-subtitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.header-button {
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 4px;
    background-color: #f6da00;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 800;
    border: #f6da00;
    text-transform: capitalize;
}
.header-button:hover {
    background-color: #48944f;
    color: white;
    cursor: pointer;

}

.nav-link{
    margin-left: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;

}

.nav-link:hover{
    color: #eeeded;
}

@media (min-width: 990px) {
    .nav-button {
        position: relative;
        right: -5%;
    }
}

@media (max-width: 990px) {
    .nav-bg {
        background-color: #212529 !important;
    }
    .nav-bg-yellow {
        background-color: #f6da00 !important;
    }

}

.nav-button {
    height: 50px;
    width: 102px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    }

.kontakt-button {


    transition: 0.3s;
    border-width: 2px;
    font-weight: 700;
}


.kontakt-button:hover {
    background-color: #fbfbfb;
    color: black;
}

.navbar-toggler {
  border-color: rgb(229, 229, 229);
}

.navbar-dark {
    color: rgb(229, 229, 229);
}

/* MAIN SECTION */


.main-pre-title {
    max-width: 550px;
    margin-left: 50px;
    margin-top: 40px;
    color: #000;
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
}
@media (max-width: 580px) {
    .main-pre-title {
        margin-left: 20px;
        margin-top: 40px;
        font-size: 15px;
        line-height: 22px;
    }
}

.yellow-span {
    color:#f6da00;
    font-weight: bold;
}

.main-title {
    margin-top: 89px;
    margin-bottom: 41px;
    text-align: center;
    padding-top: 0px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
}

.row-padding-bottom {
    padding-bottom: 100px;
}

.main-card {
    margin-bottom: 30px;
    padding: 40px 30px;
    padding-bottom: 10px;
    border: 1px solid #f7f7f7;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.main-card-img {
    margin-bottom: 25px;
    height: 60px;
}

.main-card-text {
    height: 150px;
    padding-left: -1px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: justify;
}

.main-card-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.text-next-to-form {
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
}

.text-next-to-form p {
    margin: 8px;
}

.text-next-to-form-strong {
    font-weight: 600;
}

.carousel-spacing {
    margin: 50px 0;
}

.text-after-causel {
    font-size: 22px;
    line-height: 36px;
    font-weight: 800;
    text-align: center;
}

@media (max-width: 580px) {
    .text-after-causel {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        text-align: center;
    }
}

/* SECTION */
.section-margin-beetwen {
    margin-top: 200px;
}

.section-margin{
    margin: 70px 0;
}

.main-section-text {
    max-width: 380px;
}

.main-section-title {
    max-width: 380px;
    font-weight: 800;
    font-size: 22px;
    line-height: 36px;

}


.main-section-text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: justify;
}


.main-section-text-left {
    right: 0px;
    top: 0px;
}

.footer-backgound {
    background-color: white;
}

.hr-short {
    width: 90%;
    margin: 25px auto;
}

.yellow-short-hr {
    padding-left: 10px;
    letter-spacing: -2px;
    color: #f6da00;
}

.black-short-hr  {
    padding-left: 10px;
    letter-spacing: -2px;
    color: #000;
}

.footer-text-yellow {
    margin-left: 5%;
    padding-top: 8%;
    color: #f6da00;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
}

.footer-text {
    padding-left: 5%;
    text-align: justify;
    line-height: 36px;
    font-weight: 300;
}

@media (max-width: 540px) {
    .footer-text {
    padding: 10px 30px;
}
}

/* MARKA WEBSITE */

.position-header-color {
    background-color: #f6da00;
    position: relative;
        z-index: 1;
}

.row-nav-margin {
    padding-top: 100px;
    /*padding-left: 5%;*/
}

.link-yellow-header {
    font-size: 16px;
    font-weight: 600;
}

.header-paragraf-yellow {
    margin: 40px 0;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.marka-section-title-con {
    margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 100px;
}

.marka-section-title {
    color: #000;
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
    text-align: justify;
}

@media (max-width: 540px) {
    .marka-section-title-con {
        margin: 15px;
    }
    .marka-section-title {
    color: #000;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: justify;
    }

}
.price-card {
    height: 100%;
    background-color: white;
    padding: 50px 25px;
    padding-bottom: 100px;
    border: 1px solid #f7f7f7;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    transition: box-shadow 200ms ease;
}

.price-card:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.14);
}


.price-card-title {
    font-size: 16px;
    font-weight: 600;
}

.price-card-price {
    font-size: 72px;
    line-height: 78px;
    font-weight: 800;
}

.price-card-grey-text {
    color: #999;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;

}

hr:not([size]) {
    height: 2px;
}
.price-card-line {
    max-width: 380px;
    color: #5ab963;
    opacity: 0.9;
}

.price-card-list {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.small-zl {
    font-family: 'IBM Plex Mono', sans-serif;
    color: #999;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.header-button-price {
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
}

.card-wariant {
    height: 100%;
    margin-bottom: 30px;
    padding: 40px 30px;
    padding-bottom: 10px;
    border: 1px solid #f7f7f7;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.wariant-text {
    height: 100%;
    margin-bottom: 40px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 800;
}

@media (max-width: 500px) {
    .wariant-text {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 20px;
        font-weight: 600;
    }
}

.marka-text-section-title-header {
    font-weight: 800;
    font-size: 22px;
    line-height: 36px;
}

.marka-text-section-title-body {
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
}

.marka-text-section-title {
    margin-left: 10%;
    margin-top: 10%;
}

@media (max-width: 750px) {
    .marka-text-section-title {
        margin: 5%;
    }
    .marka-text-section-title-header {
        font-weight: 800;
        font-size: 18px;
        line-height: 28px;
    }

    .marka-text-section-title-body {
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
    }

}

.marka-text-section {
    margin:5%;
    margin-bottom: 10%;
}

.marka-text-section-header {
    color: black;
    margin-bottom: 5%;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
}

.marka-text-section-text {
    margin-left: -1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}

.szycie-card {
    height: 100%;
    margin: 5%;
    width: 85% ;
    border: 1px solid #f7f7f7;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.szycie-card-left {
    float: right;
}

@media (max-width: 550px) {
   .szycie-card {
        width: 90%;
    }
}

.szycie-card-title {
    margin: 4%;
    font-weight: 800;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
}

.szycie-card-text {
    margin:5% ;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.szycie-cards-header {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 600px) {
    .szycie-cards-header {
        font-size: 28px;
        line-height: 34px;
    }
}

.szycie-text-card {
    height: 100%;
    padding:10%;
    padding-bottom: 5%;
    box-shadow: 0 0 18px -14px #000;
}

.szycie-text-card-title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;

}

.szycie-text-card-text {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
}

.marka-section-title-con-fix {
    margin-bottom: 10%;
}

.products-margin {
    margin: 0 10%;
}

.product-card {
    margin: 3%;
    background-color: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.product-card-title {
    padding: 7% 9%;
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
}

.great-margin {
    max-width: 1100px;
}

.onas-text {
    font-size: 20px;
    text-align: justify;
    letter-spacing: normal;
    text-indent: 70px;
    line-height: 26px;
    font-weight: 400;

}

.onas-text-header {
    margin-top: 50px;
}

.onas-img {
    margin-left: 50px;
}

.onas-text-margin-bottom {
    margin-bottom: 10%;
}

.onas-text-margin-last{
    margin:80px 0;
}

.onas-text-li {
    font-size: 20px;
    letter-spacing: normal;
    line-height: 30px;
    font-weight: 400;
    text-indent: 20px;
}